gunicorn~=19.7
pydub~=0.23
gevent~=1.4
django~=1.11.29
djangorestframework~=3.10.3
django-cors-headers~=3.2
coreapi~=2.3
urllib3~=1.25
whitenoise~=5.0
psycopg2-binary~=2.8
django-jenkins
coverage
rest-social-auth~=3.0
drf-yasg~=1.12
celery~=4.4
redis~=3.4
raven~=6.10
